body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 100px 500px 100px;
  gap: 15px;
  grid-template-areas: "hd hd"
                       "sb nb"
                       "sb ar"
                       "sb ar"
                       "fo fo";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  /* grid-column: 1 / 3; */
  grid-area: hd;
}

.sidebar {
  background-color: #FF7755;
  /* grid-row: 2 / 4; */
  grid-area: sb;
}

.nav {
  background-color: #00DDFF;
  grid-area: nb;
}

.article {
  background-color: #bccbde;
  grid-area: ar;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  /* grid-column: 1 / 3; */
  grid-area: fo;
}

@media (max-width: 900px) {
  .container {
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: "hd hd"
                         "nb nb"
                         "sb sb"
                         "ar ar"
                         "fo fo";
  }
  /* .header {

  }
  .nav {

  }
  .sidebar {

  }
  .article {

  }
  .footer {

  } */
}